@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    border: border-box;
}
html{
    font-size: 62.5%;
}
/* nav{
    background-image: url(images/wave.svg);
    background-repeat: no-repeat;
} */
html,body{
    font-family: "Inter",sans-serif;
    font-size: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}
body{
    font-size: 1.4rem;
}
header{
    position: sticky;
    top: 0;
    background: white;
}
nav h1{
    font-size: xx-large;
    /* margin-left: 22rem; */
}
nav{
    padding: 0.1rem;
    max-width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav ul{
    
    display: flex;
    gap: 2rem;
    /* list-style: none; */
    

}
ul{
    list-style: none;
    all: unset;
}
button{
    color: red;
}

a {
    list-style: none;
   text-decoration: none;
 
}

nav ul li{
    
    font-size: 2.5rem;
    list-style: none;
    
}
nav ul li:hover{
    border-bottom: 1px solid white;
}
main{
    max-width: 1200px;
    margin: 0 auto;

}
/* Hero section */
#hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

}
.hero_image img{
    width: 500px;
    height: 60px;
}
.hero_content h1{
    font-size: 11rem;
    line-height: 1.2;
    font-weight: 250;
}

.hero_content h4{
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 250;
}
/* long card section */
.h_card{
    display: flex;
    margin: 2rem 0;
    align-items: center;
}
.card_content{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.status{
    display: flex;
    justify-content: space-between;

}
.read_btn{
    list-style: none;
    all: unset;
    font-weight: 300;
    /* border-bottom: 1px solid transparent; */

}
.read_btn:hover{
    border-bottom: 1px solid #780000;
}
.v_card{
    display: flex;
    flex-direction: column;
}
.card_wrapper{
    display: flex;
    justify-content: center;


}


/* The Tribe,theglitch */
.tribe{
    display: flex;
    justify-content: space-around;
}
.tribe h2{
    font-size: 2.5rem;
}
.tribe img{
    height: 100px;
    width: 40vw;
    border-radius: 3rem;
    /* margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center; */
}
.banner_tribe img{
    height: 70vh;
    width: 52vw;
}
.heading h2{
    margin-top: 7rem;
    font-size: 9rem;
    font-weight: 200;
}
.bug img{
    height: 70h;
    width: 40vw;
    margin: 0 auto;
    border-radius: 3rem;
}
.author{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tribe_content{
    margin-top: 3rem;   
    margin: 2rem 3rem 2rem 3rem;
}
.tribe_content h2{
    display: flex;
    justify-content: space-evenly;
}
.tribe_content p{
    font-size: 2rem;
    margin: 0 auto;
}
/* .text_box{
    display: flex;
    flex-direction: column;
} */

/* Loose first,leap next */

.swim{
    justify-content: space-around;
    display: flex;

}
.banner_swim img{
    height: 70vh;
    width: 30w;
    /* /* margin-left: 15rem; */
    border-radius: 3rem; 
}
.swim_content p{
    font-size: 2rem;
    margin-bottom: 4rem;
}
.swim_content h2{
    font-size: 4rem;
}
.swim_content h3{
    font-size: 3rem;
}
.swim_content{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog_swim p{
    font-size: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;

}
/* 
Gallery */
.banner_gallery{
    display: flex;
    justify-content:space-around;
}
.banner_gallery p{
    margin-top: 7rem;
    font-size: 7rem;
    font-weight: 200;

}
.gallery_img img{
    height: 90vh;
    width: 34vw;
    border-radius: 4rem;
}
.images{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-left: 4rem;
    gap: 6rem;
    align-items: center;
    margin-bottom: 3rem;
    
}
.images img{
    border-radius: 3rem;
}
.first img{
    height: 50vh;
    width: 40vw;

}
.second img{
    height: 60vh;
    width: 30vw;

}
.third img{
    height: 55vh;
    width: 27vw;

}
.fourth img{
    height: 60vh;
    width: 30vw;

}
.fifth img{
    height: 70vh;
    width: 30vw;

}

/* about */
.banner_about img{
    height: 50vh;
    width: 20vw;
    border-radius: 4rem;
}
.desc h2{
    font-size: 8rem;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about_content {
    display: flex;
    justify-content: center;
}
.about_content p{
    margin: 3rem 5rem;
    font-size: 2.4rem;
}

/* mimo */
.banner_mimo img{
    height: 54rem;
    width: 44rem;
    border-radius: 3rem;
}
.mimo_heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



span{
    color: #780000;
}

/* All images */
.hero_image img{
    height: 620px;
    width: 450px;
    border-radius: 2rem;
    margin-left: 200px;
    /* padding-left: 44px; */
}
.long img{
    height: 500px;
    width: 600px;
    border-radius: 3rem;
}

.v_card1 img{
    height: 500px;
    width: 375px;
    border-radius: 2rem;
}
.v_card2 img{
    height: 500px;
    width: 370px;
    border-radius: 2rem;
}
.v_card3 img{
    height: 500px;
    width: 350px;
    border-radius: 2rem;
}
/* .badminton img{
    height: 500px;
    width: 350px;
    border-radius: 2rem;
} */




footer{
    
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    max-width: 100vw;
}
footer p{
    margin-top: 0rem;
    padding-right: 2rem;
    font-size: 2em;
    font-weight: 200;
   
}

footer ul{
    display: flex;
    gap: 2rem;

}

footer ul li{
    font-size: 1.8rem;
    list-style: none;
}
.post1_img img{
    height: 80vh;
    width: 40vw;
    border-radius: 3rem;
}
/* My Experiments */

*{  background-image: -moz-linear-gradient(red );
    background-color: black;
    color: white;
}
.read_btn{
    font-weight: 450;
}

.blob1{
    width: 100vw;
}

.banner_about img{
    display: flex;
    margin: 4rem auto;
}

/* Media Queries */

@media(max-width: 450px){
    nav{
        padding: 0.1rem;
        /* max-width: 350px; */
        /* margin: 0 auto; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
       
    }
    header{
        position: static;
        top: 0;
        background: white;
    }

    .hero_content h1{
    font-size: 5rem;
    line-height: 1.2;
    font-weight: 250;
}
    
    #hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin: 1rem auto; */
        padding-left: 1rem;
        padding-top: 2rem;
        
    
    }
    .h_card{
        display: flex;
        flex-direction: column;
        margin: 2rem ;
        /* align-items: center; */
    }
    .card_content{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .status{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
    }
    .read_btn{
        list-style: none;
        all: unset;
        font-weight:500 ;
        /* border-bottom: 1px solid transparent; */
    
    }
    .read_btn:hover{
        border-bottom: 1px solid #780000;
    }
    .v_card{
        display: flex;
        flex-direction: column;
    }
    .card_wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    
    }
    /* The tribe,the glitch */
    .tribe{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .tribe h2{
        font-size: 1rem;
    }
    .heading h2{
        font-size: 3rem;
    }
    .tribe img{
        height: 100px;
        width: 40vw;
        border-radius: 3rem;
        /* margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center; */
    }
    .banner_tribe img{
        height: 60vh;
        width: 100vw;
    }
    .heading h2{
        margin-top: 7rem;
        font-size: 7rem;
        font-weight: 200;
    }
    .bug img{
        height: 70h;
        width: 40vw;
        margin: 0 auto;
        border-radius: 3rem;
    }
    .author{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .tribe_content{
        margin-top: 3rem;   
        margin: 2rem 3rem 2rem 3rem;
    }
    .tribe_content h2{
        display: flex;
        justify-content: space-evenly;
    }
    .tribe_content p{
        font-size: 2rem;
        margin: 0 auto;
    }

    /* loose first leap next */
    .swim{
        justify-content: space-around;
        display: flex;
        flex-direction: column;

    
    }
    .banner_swim img{
        height: 60vh;
        width: 100vw;
        /* /* margin-left: 15rem; */
        border-radius: 3rem; 
    }
    .swim_content p{
        font-size: 2rem;
        margin-bottom: 4rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .swim_content h2{
        font-size: 4rem;
    }
    .swim_content h3{
        font-size: 3rem;
    }
    .swim_content{
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .blog_swim p{
        font-size: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 2rem;
    
    }

    .banner_gallery{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
    }
    .banner_gallery p{
        margin-top: 7rem;
        font-size: 7rem;
        font-weight: 200;
    
    }
    .gallery_img img{
        height: 80vh;
        width: 100vw;
        border-radius: 4rem;
    }
    .images{
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
        margin-left: 2rem;
        gap: 6rem;
        align-items: center;
        margin-bottom: 3rem;
        
    }
    .images img{
        border-radius: 3rem;
    }
    .first img{
        height: 50vh;
        width: 87vw;
    
    }
    .second img{
        height: 60vh;
        width: 87vw;
    
    }
    .third img{
        height: 55vh;
        width: 87vw;
    
    }
    .fourth img{
        height: 60vh;
        width: 87vw;
    
    }
    .fifth img{
        height: 70vh;
        width: 87vw;
    
    }
    
    /* about */
    .banner_about img{
        height: 50vh;
        width: 77vw;
        border-radius: 4rem;
    }
    .banner_about img{
        display: flex;
        margin: 4rem auto;
    }
    
    
    .desc h2{
        font-size: 4rem;
        font-weight: 200;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about_content {
        display: flex;
        justify-content: center;
    }
    .about_content p{
        margin: 3rem 5rem;
        font-size: 2.4rem;
    }

    .hero_image img{
        height: 620px;
        width: 450px;
        border-radius: 2rem;
        margin-left: 20px;
        /* padding-left: 44px; */
    }
    .long img{
        height: 450px;
        width: 97vw;
        border-radius: 3rem;
    }
    /* All images */
    .v_card1 img{
        height: 500px;
        width:400px;
        border-radius: 2rem;
    }
    .v_card2 img{
        height: 500px;
        width: 400px;
        border-radius: 2rem;
    }
    .v_card3 img{
        height: 500px;
        width: 350px;
        border-radius: 2rem;
        margin-left: 15px;
    }
    .post1_img img{
        height: 80vh;
        width: 40vw;
        border-radius: 3rem;
    }
    
    footer{
    
        display: flex;
        justify-content: center;
        padding: 0.5rem;
        max-width: 100vw;
    }
    footer p{
        margin-top: 0rem;
        padding-right: 2rem;
        font-size: 2em;
        font-weight: 200;
       
    }
    
    footer ul{
        display: flex;
        gap: 2rem;
    
    }
    
    footer ul li{
        font-size: 1.8rem;
        list-style: none;
    }
    /* my experiments */
    *{  background-image: -moz-linear-gradient(red );
        background-color: black;
        color: white;
    }

    .banner_mimo img{
        height: 55rem;
        width: 100vw;
    }
    

    
    
    
}
